{
  "processors": [["stylelint-processor-styled-components", {
    "moduleName": "styled-components",
    "importName": "default",
    "strict": false,
    "ignoreFiles": [],
    "parserPlugins": [
      "jsx",
      "objectRestSpread",
      "decorators-legacy",
      "classProperties",
      "exportExtensions",
      "asyncGenerators",
      "functionBind",
      "functionSent",
      "dynamicImport",
      "optionalCatchBinding",
      "optionalChaining"
    ]
  }]],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "declaration-colon-newline-after": null,
    "rule-empty-line-before": null,
    "indentation": null,
    "no-descending-specificity": null
  }
}